//variables.scss

//Colors//
$lb: #C7F7FF;
$mb: #89C0C9;
$db: #3a5E63;
$lbrown: #C9A689;
$dbrown: #7C593C;
$lg: #d4d4d4;
$dg: #222;
$w: #fff;

//fonts//
$headerFont: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

$defaultFont: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif;







